.logo{
	padding: 15%;
}

.shop_stuff {
	border-top: .3rem;
	border-bottom: .1rem;
	border-right: .1rem;
	border-left: .1rem;
	border-style: solid;
	border-color: $color__background-screen;
	margin: .3rem;
	padding: .5rem;
	font-size: .8rem;
	height: 25%;
	width: 25%;

	img {
		max-width: 25%;
	}

	div {
		margin: 1rem 0rem 1rem 0rem;
	}
}

//adventures

.main_box{
	height: 25rem;
	width: 100%;
}

.second_box{
	height: 25rem;
	width: 50%;
}

.big_box{
	height: 100%;
	width: 50%;
	padding: 1rem;

	h1{
		color:white;
	}
}

.medium_box{
	height: 50%;
	width: 100%;
	border-left: 1rem solid white;
	border-bottom: 1rem solid white;
	padding: 1rem;

	h2{
		color:white;
	}
}

.small_box{
	height: 50%;
	width: 50%;
	border-left: 1rem solid white;
	padding: 1rem;

	h3{
		color:white;
	}
}

//journal

.journal_main{
	height: 60%;
}

.journal_box{
	min-height: 100%;
	width: 33.33%;
	padding: .5rem;

	.img_box{
		height: 14rem;
	}
}

.journal_info{
	border-top: .3rem;
	border-bottom: .1rem;
	border-right: .1rem;
	border-left: .1rem;
	border-style: solid;
	border-color: $color__background-screen;
	padding: 1rem;
	min-height: 12rem;

	h4{
		color: $color__links-nd-titles;
		font-weight: bold;
	}
}

.date_comment{
	font-size: .75rem;
    margin-bottom: -1rem;

}