//general page styling
main{
	margin: 0 2rem 0 2rem;
	padding-bottom: 2rem;
}

.split_page{
	width: 70%;
	border-right: .1rem solid $color__background-screen;

	nav{
		margin-top: 2rem;

		span{
			background-color: $color__links-nd-titles;
			padding: .2rem;
			margin: .2rem;
		}
		span:hover{
			background-color: grey;
		}
	
		a{
			background-color: $color__links-nd-titles;
			padding: .2rem;
			margin: .2rem;
		}
		a:hover{
			background-color: grey;
		}
	}
}

a {
	text-decoration: none;
}


//page-about, find-us, and 404
.about h1 {
		padding: 25%;
		color: white;
		font-weight: bold;
}

.about_text{
	margin: 3rem;

	h1{
		font-weight: bold;
	}
}

iframe{
	width: 100%;
	padding-right: 2rem;
}

.posts-list{
	list-style: none;
	li a{
		color: $color__links-nd-titles;
		margin: -2.35rem;
	}
}

// sinlge-products/adventures
 .product-img{
 	margin-top: 2rem;
 	width: 45%;
 }

 .product-info{
 	max-width: 45%;
 }

.no_logo{
	padding: 35%;
}

//forms and search

input[name="message"]{
	height: 35%;
}

input[value="Submit"]{
	background-color: $color__links-nd-titles;
	color: white;
	width: 20%;
}

.required{
      color:red;
}

.entry-title{
	a{
		color: $color__links-nd-titles
	}
}